<html>

<head>
    <title>My first web page for ROS!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- VueJS lib -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <!-- Lib ROSBridge !-->
    <script src="https://s3.eu-west-1.amazonaws.com/rosject.io/js/roslib.min.js"></script>
    <!-- Camera MJPEG Canvas -->
    <script src="https://cdn.jsdelivr.net/npm/eventemitter2@5.0.1/lib/eventemitter2.min.js"></script>
    <script type="text/javascript" src="./libs/mjpegcanvas.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <!-- header of the page -->
    <header class="header">
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Hello from Robot Ignite Academy!</h1>
                <p>Let's connect our website to a ROS robot!</p>
            </div>
        </div>
    </header>

    <!-- main content -->
    <main id="vueApp">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3>{{ menu_title }}</h3>
                            <hr>
                            <label>ROSBridge address</label>
                            <br>
                            <input type="text" v-model="rosbridge_address" />
                            <br>
                            <button class="mt-2 btn btn-success" v-if="connected"
                                @click="disconnect">Connected!</button>
                            <button class="mt-2 btn btn-primary" v-else @click="connect">Connect!</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center">{{ main_title }}</h2>
                            <hr>
                            <p>Some actions for the robot</p>
                            <button class="mt-2 btn btn-primary" :disabled="!connected" @click="goToPos">Move the
                                robot!</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="card">
                        /cvtColor_perception_server
                        <div id="divCamera2"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Perception choice -->
                <select id="video_server_" v-model="video_server">
                    <option value="/camera/D435/color/image_raw">raw_image_server</option>
                    <option value="/perception_server">perception_server</option>
                    <option value="/cvtColor_perception_server">cvtColor_perception_server</option>
                    <option value="/no_shadow_perception_server">no_shadow_perception_server</option>
                    <option value="/binary_image_perception_server">binary_image_perception_server</option>
                    <option value="/roi_image_perception_server">roi_image_perception_server</option>
                </select>
                <!-- Parameter slider -->
                <div class="slidecontainer">
                    <input type="range" min="0" max="8" class="slider" v-model="slider_val" />
                </div>
                <div>
                    {{slider_val}}
                </div>
                <div class="slidecontainer">
                    <input type="range" min="0" max="20" class="slider" v-model="slider2_val" />
                </div>
                <div>
                    {{slider2_val}}
                </div>
                <div class="slidecontainer">
                    <input type="range" min="0" max="100" class="slider" v-model="slider3_val" />
                </div>
                <div>
                    {{slider3_val}}
                </div>
                <!-- Live Cameras -->
                <div class="col-md-12 text-center">
                    <div class="card">
                        Camera1
                        <div id="divCamera"></div>
                    </div>
                </div>
                <!--
                <div class="col-md-6 text-center">
                    <div class="card">
                        Camera2
                        <div id="divCamera2"></div>
                    </div>
                </div>
                -->
                <div class="col-md-6 text-center">
                    <div class="card">
                        <h4>Piper Positions</h4>
                        <div class="card-body">
                            <div class="row">
                                <button class="col-md-2 btn btn-primary" :disabled="!connected"
                                    @click="goToPos(0)">1</button>
                                <button class="col-md-2 btn btn-primary" :disabled="!connected"
                                    @click="goToPos(1)">2</button>
                                <button class="col-md-2 btn btn-primary" :disabled="!connected"
                                    @click="goToPos(2)">3</button>
                            </div>
                            <div class="row">
                                <button class="col-md-2 btn btn-primary" :disabled="!connected"
                                    @click="goToPos(3)">4</button>
                                <button class="col-md-2 btn btn-primary" :disabled="!connected"
                                    @click="goToPos(4)">5</button>
                                <button class="col-md-2 btn btn-primary" :disabled="!connected"
                                    @click="goToPos(5)">6</button>
                            </div>
                            <div class="row">
                                <button class="col-md-2 btn btn-primary" :disabled="!connected"
                                    @click="goToPos(6)">7</button>
                                <button class="col-md-2 btn btn-primary" :disabled="!connected"
                                    @click="goToPos(7)">8</button>
                                <button class="col-md-2 btn btn-primary" :disabled="!connected"
                                    @click="goToPos(8)">9</button>
                            </div>
                            <div class="row">
                                <button class="col-md-2 btn btn-primary" :disabled="!connected"
                                    @click="goToPos(10)">pre-clear</button>
                                <button class="col-md-2 btn btn-primary" :disabled="!connected"
                                    @click="goToPos(11)">Clear</button>
                                <button class="col-md-2 btn btn-primary" :disabled="!connected"
                                    @click="goToPos(12)">zero</button>
                            </div>
                            <button class="col-md-2 btn btn-primary" :disabled="!connected" @click="drawShape(0)">draw
                                Circle</button>
                            <button class="col-md-2 btn btn-primary" :disabled="!connected" @click="drawShape(1)">draw
                                Cross</button>
                            <button class="col-md-2 btn btn-primary" :disabled="!connected" @click="drawShape(2)">draw
                                Grid</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer class="footer mt-auto bg-dark text-light">
        <div class="container">
            <h5>page ends here!</h5>
        </div>
    </footer>

    <script type="text/javascript">
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'main.js?v=2.' + Date.now();
        document.head.appendChild(script);
    </script>
</body>

</html>